**/migrations/**
!**/migrations
!**/migrations/__init__.py
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
static_dev
venv
sqlite3
db.sqlite
media
local_settings.py
*.py[cod]
*$py.class
.idea
*.so

.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
.scrapy

docs/_build/

target/

.python-version

celerybeat-schedule

*.sage.py


.spyderproject
.spyproject

.ropeproject
.mr.developer.cfg
.project
.pydevproject
/site
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
