{% extends 'wrapper/base.html' %}
{% load static %}
{% load i18n %}
{% load config_tag %}
   {% block title %}<title>Alfa Group | {% trans 'Əlaqə' %}</title>{% endblock title %}
{% block content %}

    <!-- Navbar Start -->
    <div class="container-fluid position-relative p-0">

        <div class="container-fluid bg-primary py-5 bg-header" style="margin-bottom: 90px;">
            <div class="row py-5">
                <div class="col-12 pt-lg-5 mt-lg-5 text-center">
                    <h1 class="display-4 text-white animated zoomIn">{% trans 'Əlaqə' %}</h1>
                    <a href="{% url 'home' %}" class="h5 text-white">{% trans 'Ana səhifə' %}</a>
                    <i class="far fa-circle text-white px-2"></i>
                    <a href="{% url 'contact' %}" class="h5 text-white">{% trans 'Əlaqə' %}</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Navbar End -->

{% get_config as config %}
    <!-- Full Screen Search Start -->
    <div class="modal fade" id="searchModal" tabindex="-1">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content" style="background: rgba(9, 30, 62, .7);">
                <div class="modal-header border-0">
                    <button type="button" class="btn bg-white btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body d-flex align-items-center justify-content-center">
                    <div class="input-group" style="max-width: 600px;">
                        <input type="text" class="form-control bg-transparent border-primary p-3"
                               placeholder="Type search keyword">
                        <button class="btn btn-primary px-4"><i class="bi bi-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Full Screen Search End -->


    <!-- Contact Start -->
    <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="section-title text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">
                <h5 class="fw-bold text-primary text-uppercase">{% trans 'Əlaqə' %}</h5>
                <h1 class="mb-0">{% trans 'Hər hansı bir sualınız varsa, bizimlə əlaqə saxlayın' %}</h1>
            </div>
            <div class="row g-5 mb-5">
                <div class="col-lg-4">
                    <div class="d-flex align-items-center wow fadeIn" data-wow-delay="0.1s">
                        <div class="bg-primary d-flex align-items-center justify-content-center rounded"
                             style="width: 60px; height: 60px;">
                            <i class="fa fa-phone-alt text-white"></i>
                        </div>
                        <div class="ps-4">
                            <h5 class="mb-2">{% trans 'İstənilən sual üçün zəng edin' %}</h5>
                            <a href="tel:{{ config.phone }}"> <h4 class="text-primary mb-0">{{ config.phone }}</h4></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="d-flex align-items-center wow fadeIn" data-wow-delay="0.4s">
                        <div class="bg-primary d-flex align-items-center justify-content-center rounded"
                             style="width: 60px; height: 60px;">
                            <i class="fa fa-envelope-open text-white"></i>
                        </div>
                        <div class="ps-4">
                            <h5 class="mb-2">{% trans 'Bizə yazın' %}</h5>
                            <a href="mailto:{{ config.email }}"><h4 class="text-primary mb-0">{{ config.email }}</h4></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="d-flex align-items-center wow fadeIn" data-wow-delay="0.8s">
                        <div class="bg-primary d-flex align-items-center justify-content-center rounded"
                             style="width: 60px; height: 60px;">
                            <i class="fa fa-map-marker-alt text-white"></i>
                        </div>
                        <div class="ps-4">
                            <h5 class="mb-2">{% trans 'Ünvan' %}</h5>
                            <a href="{{ config.map }}"><h4 class="text-primary mb-0">{{ config.address }}</h4></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row g-5">
                <div class="col-lg-6 wow slideInUp" data-wow-delay="0.3s">
                        <form action="{% url 'send_message' %}?redirect_url={% url 'contact' %}" method="POST">
                        {% if messages %}
                        {% for message in messages %}
                        <div class="alert {% if message.tags == 'success' %} alert-info {% else %} alert-danger {% endif %}alert-dismissible fade show" role="alert">
                        <strong>{{ message }}</strong>
                        <span aria-hidden="true">&times;</span>
                        </div>
                        {% endfor %}
                        {% endif %}
                        {% csrf_token %}
                        <div class="row g-3">
                            <div class="col-md-6">
                                <input required type="text" name="name" class="form-control border-0 bg-light px-4" placeholder="{% trans 'Adınız' %}"
                                       style="height: 55px;">
                            </div>
                            <div class="col-md-6">
                                <input required type="email" name="email" class="form-control border-0 bg-light px-4" placeholder="{% trans 'Poçt adresiniz' %}"
                                       style="height: 55px;">
                            </div>
                            <div class="col-12">
                                <input required type="text"  name="subject" class="form-control border-0 bg-light px-4" placeholder="{% trans 'Mövzu' %}"
                                       style="height: 55px;">
                            </div>
                            <div class="col-12">
                                <textarea required name="description" class="form-control border-0 bg-light px-4 py-3" rows="4"
                                          placeholder="{% trans 'Məlumat' %}"></textarea>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-primary w-100 py-3" type="submit">{% trans 'Göndər' %}</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-lg-6 wow slideInUp" data-wow-delay="0.6s">
                    <iframe class="position-relative rounded w-100 h-100"
                            src="{{ config.map }}"
                            frameborder="0" style="min-height: 350px; border:0;" allowfullscreen="" aria-hidden="false"
                            tabindex="0"></iframe>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact End -->
    {% include 'etc/partners.html' %}
{% endblock content %}