{% extends 'wrapper/base.html' %}
{% load static %}
{% load i18n %}
{% load config_tag %}
   {% block title %}<title>{{ object.name }}</title>{% endblock title %}
    {% block description %}<meta content="{{ object.description|striptags|truncatechars:255 }}" name="description">{% endblock description %}
{% block content %}
{% get_config as config %}
    <!-- Navbar Start -->
    <div class="container-fluid position-relative p-0">
        <div class="container-fluid bg-primary py-5 bg-header" style="margin-bottom: 90px;">
            <div class="row py-5">
                <div class="col-12 pt-lg-5 mt-lg-5 text-center">
                    <a href="{% url 'partners' %}"><h1 class="display-4 text-white animated zoomIn">{% trans 'Əməkdaşlarımız' %}</h1></a>
                    <a href="{% url 'home' %}" class="h5 text-white">{% trans 'Ana səhifə' %}</a>
                    <i class="far fa-circle text-white px-2"></i>
                    <a href="{{object.get_partner_url}}" class="h5 text-white">{{ object.name }}</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Navbar End -->


    <!-- Full Screen Search Start -->
    <div class="modal fade" id="searchModal" tabindex="-1">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content" style="background: rgba(9, 30, 62, .7);">
                <div class="modal-header border-0">
                    <button type="button" class="btn bg-white btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body d-flex align-items-center justify-content-center">
                    <div class="input-group" style="max-width: 600px;">
                        <input type="text" class="form-control bg-transparent border-primary p-3" placeholder="Type search keyword">
                        <button class="btn btn-primary px-4"><i class="bi bi-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Full Screen Search End -->


    <!-- Blog Start -->
    <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-lg-8">
                    <!-- Blog Detail Start -->
                    <div class="mb-5">
                       <center>
                            <img style="width: 20%!important;" class="img-fluid w-100 rounded mb-5" src="{{ object.image.url}}" alt="{{ object.name }}">
                       </center>
                        <h1 class="mb-4">{{ object.name}}</h1>

                     {% if object.description %}
                           {{ object.description|safe }}
                        {% else %}
                     {% endif %}
                    </div>
                    <!-- Blog Detail End -->


                </div>
    
                <!-- Sidebar Start -->
                <div class="col-lg-4">

                    <!-- Category Start -->
                    <div class="mb-5 wow slideInUp" data-wow-delay="0.1s">


                    <!-- Recent Post Start -->
                    <div class="mb-5 wow slideInUp" data-wow-delay="0.1s">
                        <div class="section-title section-title-sm position-relative pb-3 mb-4">
                            <h3 class="mb-0">{% trans 'Əməkdaşlarımız' %}</h3>
                        </div>
                        {% for partner in partners %}
                        <div class="d-flex rounded overflow-hidden mb-3">
                            <img class="img-fluid" src="{{ partner.image.url}}" style="width: 100px; height: 100px; object-fit: cover;" alt="">
                            <a href="{{ partner.get_partner_url }}" class="h5 fw-semi-bold d-flex align-items-center bg-light px-3 mb-0">{{ partner.name}}
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                    <!-- Recent Post End -->

                </div>
                <!-- Sidebar End -->
            </div>
        </div>
    </div>
    </div>
    <!-- partner End -->

{% endblock content %}